{{>layout/header}}
<div class="wrapper">
    <div class="content-box">
        <div class="title">
            <h1>2021 Calendar</h1>
        </div>
        <div class="login-box">
            <a id="naver_login" href="/oauth2/authorization/naver" class="btn btn-success active" >네이버 로그인</a>
            <a id="google_login" href="/oauth2/authorization/kakao" class="btn btn-secondary active">카카오 로그인</a>
        </div>
    </div>

</div>
{{>layout/footer}}
